@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";
//
//
//
.b-small-block--string {
	display: inline-block;
	font-family: 'Arial-BoldMT';
	font-size: 22px;
	color: #fff;
	height: 50px;
	line-height: 50px;
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
	.b-small-block {
		&__red {
			color: #EE2D30;
		}
	}
}