

@font-face {
  font-family: 'Arial-BoldMT';
  src: url('../fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),  url('../fonts/Arial-BoldMT.woff') format('woff'), url('../fonts/Arial-BoldMT.ttf')  format('truetype'), url('../fonts/Arial-BoldMT.svg#Arial-BoldMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial-ItalicMT';
  src: url('../fonts/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),  url('../fonts/Arial-ItalicMT.woff') format('woff'), url('../fonts/Arial-ItalicMT.ttf')  format('truetype'), url('../fonts/Arial-ItalicMT.svg#Arial-ItalicMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArialMT.woff') format('woff'), url('../fonts/ArialMT.ttf')  format('truetype'), url('../fonts/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro-Regular';
  src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MinionPro-Regular.otf')  format('opentype'),
	     url('../fonts/MinionPro-Regular.woff') format('woff'), url('../fonts/MinionPro-Regular.ttf')  format('truetype'), url('../fonts/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-CondensedBold';
  src: url('../fonts/OpenSans-CondensedBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-CondensedBold.woff') format('woff'), url('../fonts/OpenSans-CondensedBold.ttf')  format('truetype'), url('../fonts/OpenSans-CondensedBold.svg#OpenSans-CondensedBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


