@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";
//
//
//
.b-brands {
    &__title {
        font-family: 'Arial-BoldMT';
        font-size: 25px;
        line-height: 28px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 35px;
    }
    &__items {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        &__link {
            align-self: center;
            display: block;
        }
    }
}
