@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";
//
//
//
.b-contact-us {
    width: 397px;
    max-width: 100%;
    &__title {
        padding: 15px 12px;
        margin: 0;
        background-color: #000;
        color: #fff;
        font-family: 'Arial-BoldMT';
        font-size: 25px;
        line-height: 28px;
        text-transform: uppercase;
    }
    &__form {
        background-color: #E6E7E8;
        padding: 17px 14px;
        height: 404px;
        &__row {
            @include make-row();
        }
        &__half-container {
            @include make-xs-column(6);
        }
        &__full-container {
            @include make-xs-column(12);
        }
        &__message {
            display: block;
            font-size: 13px;
            line-height: 21px;
            color: #58595B;
            margin-bottom: 7px;
        }
        &__label {
            display: block;
            font-size: 15px;
            line-height: 21px;
            color: #58595B;
            margin-bottom: 7px;
        }
        &__field {
        	font-weight: bold;
        	width: 100%;
        	border: none;
        	outline: none;
        	
        }
        &__textarea {}
        &__button {}
    }
}
