@import "../../../../scss/core/_variables.scss";
@import "../../../../scss/core/_mixins.scss";
//
//
//
@media (max-width: $screen-md-max) { 
    .b-featured {
        top: -130px !important;    
        margin-bottom: -130px !important;

        &__item {
            width: 230px !important;
        }
    }
}
.b-featured {
    position: relative;
    top: -152px;
    margin-bottom: -152px;
    padding-bottom: 30px;
    &__items {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    justify-content: space-between;
    }
    &__item {
        display: inline-block;
        width: 285px;
    }
    &__link {
        display: block;
        text-decoration: none;
        &__image {
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 30px;
        }
        &__title {
            font-family: 'Arial-BoldMT';
            font-size: 25px;
            line-height: 28px;
            color: #000;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 30px;
        }
        &__text {
            font-size: 14px;
            line-height: 16px;
            color: #000;
            text-decoration: none;
            text-align: center;
        }
    }
}
